
    * {
        font-family: Arial, Helvetica, sans-serif;
      }
    h1 {
        color: #9b59b6;
      }
    body {
        background-color: #bdc3c7;
      }
    h2 {
        color: orange;
      }
    li {
        color: #4169e1;
      }
    p {
        background-color: yellow;
      }
    input {
        border-color: red;
        border-width: 3px;
      }
    .hello {
        background-color: white;
      }
    #special {
        border-color: #191970;
        border-width: 2px;
      }
    div p {
        font-size: 25px;
      }
    input[type="text"] {
        background-color: gray;
      }
    div:nth-of-type(3) p {
        background-color: pink;
      }
    div:nth-of-type(3) p:nth-of-type(2) {
        border: 5px solid white;
      }
    div:nth-of-type(3) em {
        color: white;
        font-size: 20px;
      }
    label {
        text-transform: uppercase;
      }
    #special::first-letter {
        color: green;
      }
    input[type="checkbox"]:checked {
        margin-left: 50px
      }
    h1:hover{
        color: blue;
      }
    a:visited{
        color: gray;
      }

